<!-- <p>votes works!</p> -->
<div class="votes">
    <div class="votes">
        <span class="item">UpVotes:{{upvotes}}</span><br>
        <div>
        </div>
        
        <i class="fa fa-thumbs-up" id="thumbsup" aria-hidden="true"(click)="upVotesClick()"></i>

    </div>
    <div class="votes1">
        <span class="item">Downvotes:{{downvotes}}</span><br>
        <div>
        </div>
       
        <i class="fa fa-thumbs-down"  id="thumbsdown" aria-hidden="true" (click)="downVotesClick()"></i>
        <button class="btn btn-danger " (click)="deleteQuote(true)">Delete</button>
    </div>
</div>
