<!-- <h2>Fill the form below to add a quote</h2>
<form action="">
    <label for="name">Name</label> <br>

    <input type="text" name="" id="name">
    
</form> -->
<h1>Your quote</h1>
<form action="">
    <div class="column">
        <label for="name">What is your name?</label>
        <div>
            <input type="text" name="" placeholder="E.g Nelson Mandela" id="name"  name='name'
                >
        </div>
    </div>

    <div class="column">
        <label for="quote">Enter the Quote</label>
        <div>
            <textarea name="" placeholder="Enter the quote here" id="quote" cols="20" rows="2"
                name='theQuote' ></textarea>
        </div>
    </div>

    <div class="column">
        <label for="author">Who is the author of the quote?</label>
        <div>
            <input type="text" name="" placeholder="Enter author's name here" id="author"
                name='author' >
        </div>
    </div>

    <button type="submit">Add Quote</button>
</form>
