<!-- <h2>Quotes</h2> -->
<div class="qtform ml-5">
    <div>
        <ul *ngFor='let quote of quotes;let i=index'>
            <div *ngIf="quote.upvotes ==highest && quote.upvotes>0;then highlight else empty"></div>
            <ng-template #highlight>
                <li appHighlight>{{quote.quote}} <br>
                    <span class="text-primary"> Name: {{quote.name}}</span> <br>
                    <span class="text-primary"> Author: {{quote.author}}</span> <br>
    
                    <span class="text-primary"><app-votes></app-votes></span><br>
                    
                    
                </li>
    
            </ng-template>
            <ng-template #empty>
                <li>
                    {{quote.quote}} <br>
                    <span class="text-primary"> Name:{{quote.name}}</span> <br>
                    <span class="text-primary"> Author: {{quote.author}}</span> <br>
    
                    <span class="text-primary"> ng</span><br>
                   
                   
                </li>
             
                <app-votes (isComplete)="deleteQuote($event,i)" ></app-votes>
            </ng-template>
    
    
    
        </ul>
    </div>
    <div class="col-md-6 pl-3 " id="cols">
        <h2>Add your quote</h2>
        <app-form (addQuote)="addNewQuote($event)"></app-form>
    </div>
</div>
